<!DOCTYPE html>
<html>
  <head>
    <% include ./head %>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body style="margin-top: 30px;">

    <p><textarea name="wpname"  cols="30" placeholder= "이름"></textarea> </p>
    <p><input type="text" name="wplimit" value="" placeholder= "제한"></p>
    <p><input type="text" name="wpsocket" value="" placeholder= "소켓"></p>
    <p><input type="text" name="wpether" value="" placeholder= "에테르"></p>
    <p><textarea name="wpstats"  cols="40" placeholder= "능력치"></textarea> </p>
    <p><textarea name="wpproperty" rows="3" cols="80" placeholder= "속성"></textarea> </p>
    <p><textarea name="wpfeat" rows="8" cols="80" placeholder= "피트"></textarea> </p>
    <p><textarea name="wpcustom" rows="8" cols="80" placeholder= "커스텀옵션"></textarea></p>
    <p><input type="submit" name="" value="추가하기"></p>

  </body>
</html>
