<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <%- include ('head') %>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <style media="screen">
    input {
      width: 100%;
      padding: 10px 20px;
      margin: 5px 0;
      box-sizing: border-box;
    }
    input[type="text"] {
      border: none;
      border-bottom: solid 2px #D2691E;
    }
    textarea {
			width: 100%;
			height: 200px;
			padding: 10px;
			box-sizing: border-box;
			border: solid 2px;
			border-radius: 5px;
			font-size: 16px;
			resize: both;
		}
    #armgrade {
			width: 100%;
			height: 100px;
			padding: 10px;
			box-sizing: border-box;
			border: solid 2px;
			border-radius: 5px;
			font-size: 16px;
			resize: both;
		}
    input[type=button], input[type=submit], input[type=reset] {
      border: none;
      color: black;
      padding: 8px 16px;
      text-decoration: none;
      margin: 4px 2px;
      cursor: pointer;
    }
    </style>
    <script type="text/javascript">
      function checkonclick() {
        if (document.bodyform.armname.value == "" || document.bodyform.armname.value == null || document.bodyform.armname.value == undefined || ( document.bodyform.armname.value != null && typeof document.bodyform.armname.value == "object" && !Object.keys(document.bodyform.armname.value).length ) ) {
          alert("장비 이름을 입력해주세요!");
          document.bodyform.armname.focus();
          return false;
        }
        return true;


      }
    </script>
  </head>
  <body style="margin-top: 5px; margin-right: 10%; margin-left:10%; ">
    <h1><%= title  %></h1>

    <div class="">
      <form class="" name="bodyform" action="/aafarm" method="post" onsubmit="return checkonclick()">
        <div class="">
          <div class="">
            <label for="">등급</label>
            <div class="">
              <textarea type="text" name="armgrade" rows="6" cols="60" id="armgrade"></textarea>

            </div>
          </div>
          <div class="">
            <label for="">이름</label>
            <div class="">
              <input type="text" name="armname"  size='40' maxlength='50' value="" id="title">
            </div>
          </div>
          <div class="">
            <label for="">제한</label>
            <div class="">
              <input type="text" name="armlimit"  size='40' maxlength='50' value="" id="title">
            </div>
          </div>
          <div class="">
            <label for="">소켓</label>
            <div class="">
              <input type="text" name="armsocket"  size='40' maxlength='50' value="" id="title">
            </div>
          </div>
          <div class="">
            <label for="">에테르</label>
            <div class="">
              <input type="text" name="armether"  size='40' maxlength='50' value="" id="title">
            </div>
          </div>
          <div class="">
            <label for="">방어력</label>
            <div class="">
              <input type="text" name="armstats"  size='40' maxlength='50' value="" id="title">
            </div>
          </div>
          <div class="">
            <label for="">속성방어 및 강화제한</label>
            <div class="">
              <textarea type="text" name="armproperty" rows="6" cols="60" id=""></textarea>

            </div>
          </div>
          <div class="">
            <label for="">피트</label>
            <div class="">
              <textarea type="text" name="armfeat" rows="6" cols="60" id=""></textarea>

            </div>
          </div>
          <div class="">
            <label for="">커스텀</label>
            <div class="">
              <textarea type="text" name="armcustom" rows="6" cols="60" id=""></textarea>

            </div>
          </div>
          <div class="">
            <label for="">업그레이드 재료</label>
            <div class="">
              <textarea type="text" name="armup" rows="6" cols="60" id=""></textarea>

            </div>
          </div>
          <div class="writhingbtn" style="height:100px">

            <div class="" style="float:right;">
              <input type="submit" name="등록하기" value="등록하기" />
              <input onclick="history.back(-1);" type="button" name="" value="뒤로" />

            </div>
          </div>
        </div>

      </form>
    </div>

  </body>
  <footer>
    <%- include ('footer') %>
  </footer>
</html>
