<style media="screen">
  #WithAAF {
    width: 100%;
    height: 40px;
    padding-top: 20px;
    padding-bottom: 0px;
    padding-left: 19px;
    padding-right: 19px;
  }
  #aafindex {
    width: 100%;
  }
  #aafindex .menuLink {
    text-decoration:none;
    width: 150px;
    color: black;
    font-size: 22px;
    font-weight: bold;
    font-family: "Trebuchet MS", Dotum, Arial;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
  }
  #aafindex ul {
  }

  #aafindex ul li {
    list-style-type: none;
    float: left;
    text-align: center;
  }
</style>

<div id="WithAAF" class="">
  <nav>
    <a href="https://withaaf.herokuapp.com/"> <img src="/images/Screenshot_6.png" alt="WithAAF"></a>
  </nav>
</div>
<div id="aafindex" class='' style = width:1000px;>
    <nav>
      <ul >
        <li><a class="menuLink" href='/'>자유게시판</a> </li>
        <li><a class="menuLink" href='/aafwp/'>무기</a> </li>
        <li><a class="menuLink" href='/aafarm/'>방어구</a> </li>
        <li><a class="menuLink" href='/aafacc/'>악세사리</a> </li>
        <li><a class="menuLink" href='/featsup/'>피트서포터</a> </li>
        <li><a class="menuLink" href='/aafgem/'>루엘</a> </li>
        <li><a class="menuLink" href='/recipe/'>레시피</a> </li>
      </ul>
    </nav>
</div>
