<style media="screen">
  #aafindex {
    margin-top:25px;
    width: 100%;
    height:35px;
    margin-bottom:25px
  }
  #aafindex .menuLink {
    text-decoration:none;
    width: 100%;
    color: black;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;

  }
  #aafindex ul {
    line-height:35px;

    float:right;

  }

  #aafindex ul li {
    list-style-type: none;
    float: left;
    text-align: center;
    font-size:24px;
  }
</style>

<nav style="width:100%">
  <div id="WithAAF" class="">
    <nav>
      <img src="/images/Screenshot_6.png" onclick="location.href='https://withaaf.herokuapp.com/'" style="cursor:pointer">
    </nav>
  </div>
  <div id="aafindex" class='' >
    <nav id="aafindex" >
      <ul>
        <li><a class="menuLink" href='/board/'>자유게시판</a> </li>
        <li><a class="menuLink" href='/aafwp/'>무기</a> </li>
        <li><a class="menuLink" href='/aafarm/'>방어구</a> </li>
        <li><a class="menuLink" href='/aafacc/'>악세사리</a> </li>
        <li><a class="menuLink" href='/featsup/'>피트서포터</a> </li>
        <li><a class="menuLink" href='/aafgem/'>루엘</a> </li>
        <li><a class="menuLink" href='/recipe/'>레시피</a> </li>
        <li><a class="menuLink" href='/monster/'>몬스터</a> </li>
        <li><a class="menuLink" href='/item/'>아이템</a> </li>
        <li><a class="menuLink" href='/rival/'>강적</a> </li>
        <li><a class="menuLink" href='/search/'>수집품 검색</a> </li>
      </ul>
    </nav>
  </div>
  <hr style="width:100%">
</nav>
