<style media="screen">
  #aafindex {
    margin-top:25px
    width: 1000px;
    height:35px;
    margin-bottom:25px

  }
  #aafindex .menuLink {
    text-decoration:none;
    width: 150px;
    color: black;
    font-size: 22px;
    font-weight: bold;
    font-family: "Trebuchet MS", Dotum, Arial;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
  }
  #aafindex ul {
    height:35px;
    line-height:35px;

  }

  #aafindex ul li {
    list-style-type: none;
    float: left;
    text-align: center;
  }
</style>

<nav>
  <div id="WithAAF" class="">
    <nav>
      <img src="/images/Screenshot_6.png" onclick="location.href='https://withaaf.herokuapp.com/'" style="cursor:pointer">
    </nav>
  </div>
  <div id="aafindex" class='' >
    <nav id="aafindex" >
      <ul>
        <li><a class="menuLink" href='/board/'>자유게시판</a> </li>
        <li><a class="menuLink" href='/aafwp/'>무기</a> </li>
        <li><a class="menuLink" href='/aafarm/'>방어구</a> </li>
        <li><a class="menuLink" href='/aafacc/'>악세사리</a> </li>
        <li><a class="menuLink" href='/featsup/'>피트서포터</a> </li>
        <li><a class="menuLink" href='/aafgem/'>루엘</a> </li>
        <li><a class="menuLink" href='/recipe/'>레시피</a> </li>
        <li><a class="menuLink" href='/monster/'>몬스터</a> </li>

      </ul>
    </nav>
  </div>
</nav>
