<style media="screen">
td:nth-child(1) {display: none;}
td:nth-child(3) {display: none;}
td:nth-child(4) {display: none;}
td:nth-child(5) {display: none;}
tr:nth-child(1) {display: none;}
tr:nth-child(2) {display: none;}
tr:nth-child(3) {display: none;}
</style>
<table class="aaf table_st" width="1130" border="1">
				<tbody><tr height="35" align="center">
					<td colspan="5" style="background-color:#e89a17; color:#fff; font-size:18px; font-weight:bold;">레시피 콜렉 달성도 : 29.33 % , 44 종류 / 150 종류 (전부 밝혀진 레시피의 종류수) </td>
				</tr>
				<tr height="35" align="center">
					<td colspan="5" style="background-color:#a6ad12; color:#fff; font-size:18px; font-weight:bold;">실제 콜렉 달성도 : 3.33 % , 5 종류 / 150 종류 (실제 합성한 레시피의 종류수) </td>
				</tr>
				<tr style="background-color:#7c7a85; color:#fff; font-size:16px; font-weight:bold;" height="35" align="center">
					<td width="100">레시피번호</td>
					<td width="700">레시피</td>
					<td width="250">완성품</td>
					<td width="80">가능횟수</td>
					<td width="80">작성횟수</td>
				</tr>
								<tr height="30" align="center">
						<td style="background-color:#ff4444; color:#fff; font-size:16px; font-weight:bold;">15121</td>
						<td style="text-align:left; padding:5px 15px 5px 15px;">

								<div class="recipe_item">
									<div class="numbering">
									<font color="#990099"><b>18851</b></font>
									</div>								<div class="parts">
										x 5
									</div>
								</div>
<div class="plus_serp">+</div>

								<div class="recipe_item">
									<div class="numbering">
									<font color="#990099"><b>18852</b></font>
									</div>								<div class="parts">
										x 3
									</div>
								</div>
<div class="plus_serp">+</div>

								<div class="recipe_item">
									<div class="numbering">
									<font color="#990099"><b>18853</b></font>
									</div>								<div class="parts">
										x 5
									</div>
								</div>
<div class="plus_serp">+</div>

								<div class="recipe_item">
									<div class="numbering">
									<font color="#990099"><b>18854</b></font>
									</div>								<div class="parts">
										x 8
									</div>
								</div>
<div class="plus_serp">+</div>

								<div class="recipe_item">
									<div class="numbering">
									<font color="#990099"><b>18855</b></font>
									</div>								<div class="parts">
										x 8
									</div>
								</div>
<div class="plus_serp">+</div>

								<div class="recipe_item">
									<div class="numbering">
									<font color="#B568B5">16040</font>
									</div>								<div class="parts">
										x 3
									</div>
								</div>
						</td>
						<td><span style="color:#ff0000; font-size:15px; font-weight:bold;">제작기록 없음</span></td>
						<td><button class="makelink" rcpidx="15121"><span style="font-size:18px; color:#38543a; font-weight:bold;">3</span></button></td>
						<td><span style="font-size:18px; color:#3a41b4; font-weight:bold;">0</span></td>
					</tr>
									<tr height="30" align="center">
						<td style="background-color:#ff4444; color:#fff; font-size:16px; font-weight:bold;">15122</td>
						<td style="text-align:left; padding:5px 15px 5px 15px;">

								<div class="recipe_item">
									<div class="numbering">
									<font color="#B568B5">16025</font>
									</div>								<div class="parts">
										x 5
									</div>
								</div>
<div class="plus_serp">+</div>

								<div class="recipe_item">
									<div class="numbering">
									<font color="#990099"><b>18769</b></font>
									</div>								<div class="parts">
										x 3
									</div>
								</div>
<div class="plus_serp">+</div>

								<div class="recipe_item">
									<div class="numbering">
									<font color="#990099"><b>18844</b></font>
									</div>								<div class="parts">
										x 2
									</div>
								</div>
<div class="plus_serp">+</div>

								<div class="recipe_item">
									<div class="numbering">
									<font color="#E97682"><b>21329</b></font>
									</div>								<div class="parts">
										x 9
									</div>
								</div>
<div class="plus_serp">+</div>

								<div class="recipe_item">
									<div class="numbering">
									<font color="#E97682"><b>21330</b></font>
									</div>								<div class="parts">
										x 4
									</div>
								</div>
<div class="plus_serp">+</div>

								<div class="recipe_item">
									<div class="numbering">
									<font color="#E97682"><b>21278</b></font>
									</div>								<div class="parts">
										x 8
									</div>
								</div>
						</td>
						<td><span style="color:#ff0000; font-size:15px; font-weight:bold;">제작기록 없음</span></td>
						<td><button class="makelink" rcpidx="15122"><span style="font-size:18px; color:#38543a; font-weight:bold;">2</span></button></td>
						<td><span style="font-size:18px; color:#3a41b4; font-weight:bold;">0</span></td>
					</tr>
									<tr height="30" align="center">
						<td style="background-color:#ff4444; color:#fff; font-size:16px; font-weight:bold;">15123</td>
						<td style="text-align:left; padding:5px 15px 5px 15px;">

								<div class="recipe_item">
									<div class="numbering">
									<font color="#990099"><b>18843</b></font>
									</div>								<div class="parts">
										x 4
									</div>
								</div>
<div class="plus_serp">+</div>

								<div class="recipe_item">
									<div class="numbering">
									<font color="#E97682"><b>21319</b></font>
									</div>								<div class="parts">
										x 2
									</div>
								</div>
<div class="plus_serp">+</div>

								<div class="recipe_item">
									<div class="numbering">
									<font color="#E97682"><b>21325</b></font>
									</div>								<div class="parts">
										x 3
									</div>
								</div>
<div class="plus_serp">+</div>

								<div class="recipe_item">
									<div class="numbering">
									<font color="#E97682"><b>21326</b></font>
									</div>								<div class="parts">
										x 5
									</div>
								</div>
<div class="plus_serp">+</div>

								<div class="recipe_item">
									<div class="numbering">
									<font color="#E97682"><b>21327</b></font>
									</div>								<div class="parts">
										x 7
									</div>
								</div>
<div class="plus_serp">+</div>

								<div class="recipe_item">
									<div class="numbering">
									<font color="#E97682"><b>21333</b></font>
									</div>								<div class="parts">
										x 11
									</div>
								</div>
						</td>
						<td><span style="color:#ff0000; font-size:15px; font-weight:bold;">제작기록 없음</span></td>
						<td><button class="makelink" rcpidx="15123"><span style="font-size:18px; color:#38543a; font-weight:bold;">2</span></button></td>
						<td><span style="font-size:18px; color:#3a41b4; font-weight:bold;">0</span></td>
					</tr>
									<tr height="30" align="center">
						<td style="background-color:#ff4444; color:#fff; font-size:16px; font-weight:bold;">15124</td>
						<td style="text-align:left; padding:5px 15px 5px 15px;">

								<div class="recipe_item">
									<div class="numbering">
									<font color="#990099"><b>18542</b></font>
									</div>								<div class="parts">
										x 4
									</div>
								</div>
<div class="plus_serp">+</div>

								<div class="recipe_item">
									<div class="numbering">
									<font color="#990099"><b>18543</b></font>
									</div>								<div class="parts">
										x 2
									</div>
								</div>
<div class="plus_serp">+</div>

								<div class="recipe_item">
									<div class="numbering">
									<font color="#990099"><b>18544</b></font>
									</div>								<div class="parts">
										x 5
									</div>
								</div>
<div class="plus_serp">+</div>

								<div class="recipe_item">
									<div class="numbering">
									<font color="#990099"><b>18545</b></font>
									</div>								<div class="parts">
										x 6
									</div>
								</div>
<div class="plus_serp">+</div>

								<div class="recipe_item">
									<div class="numbering">
									<font color="#990099"><b>18546</b></font>
									</div>								<div class="parts">
										x 7
									</div>
								</div>
<div class="plus_serp">+</div>

								<div class="recipe_item">
									<div class="numbering">
									<font color="#990099"><b>18547</b></font>
									</div>								<div class="parts">
										x 4
									</div>
								</div>
						</td>
						<td><span style="color:#ff0000; font-size:15px; font-weight:bold;">제작기록 없음</span></td>
						<td><button class="makelink" rcpidx="15124"><span style="font-size:18px; color:#38543a; font-weight:bold;">2</span></button></td>
						<td><span style="font-size:18px; color:#3a41b4; font-weight:bold;">0</span></td>
					</tr>
									<tr height="30" align="center">
						<td style="background-color:#ff4444; color:#fff; font-size:16px; font-weight:bold;">15125</td>
						<td style="text-align:left; padding:5px 15px 5px 15px;">

								<div class="recipe_item">
									<div class="numbering">
									<font color="#990099"><b>18821</b></font>
									</div>								<div class="parts">
										x 6
									</div>
								</div>
<div class="plus_serp">+</div>

								<div class="recipe_item">
									<div class="numbering">
									<font color="#990099"><b>18822</b></font>
									</div>								<div class="parts">
										x 7
									</div>
								</div>
<div class="plus_serp">+</div>

								<div class="recipe_item">
									<div class="numbering">
									<font color="#990099"><b>18823</b></font>
									</div>								<div class="parts">
										x 5
									</div>
								</div>
<div class="plus_serp">+</div>

								<div class="recipe_item">
									<div class="numbering">
									<font color="#990099"><b>18824</b></font>
									</div>								<div class="parts">
										x 5
									</div>
								</div>
<div class="plus_serp">+</div>

								<div class="recipe_item">
									<div class="numbering">
									<font color="#990099"><b>18825</b></font>
									</div>								<div class="parts">
										x 11
									</div>
								</div>
<div class="plus_serp">+</div>

								<div class="recipe_item">
									<div class="numbering">
									<font color="#E97682"><b>21334</b></font>
									</div>								<div class="parts">
										x 2
									</div>
								</div>
						</td>
						<td><span style="color:#ff0000; font-size:15px; font-weight:bold;">제작기록 없음</span></td>
						<td><button class="makelink" rcpidx="15125"><span style="font-size:18px; color:#38543a; font-weight:bold;">2</span></button></td>
						<td><span style="font-size:18px; color:#3a41b4; font-weight:bold;">0</span></td>
					</tr>
									<tr height="30" align="center">
						<td style="background-color:#ff4444; color:#fff; font-size:16px; font-weight:bold;">15126</td>
						<td style="text-align:left; padding:5px 15px 5px 15px;">

								<div class="recipe_item">
									<div class="numbering">
									<font color="#3F38B8">09616</font>
									</div>								<div class="parts">
										x 5
									</div>
								</div>
<div class="plus_serp">+</div>

								<div class="recipe_item">
									<div class="numbering">
									<font color="#242C73">12128</font>
									</div>								<div class="parts">
										x 6
									</div>
								</div>
<div class="plus_serp">+</div>

								<div class="recipe_item">
									<div class="numbering">
									<font color="#242C73">12456</font>
									</div>								<div class="colname">
										<font color="#242C73">하얀 부리</font>
										</div>
								<div class="parts">
										x 5
									</div>
								</div>
<div class="plus_serp">+</div>

								<div class="recipe_item">
									<div class="numbering">
									<font color="#242C73">12756</font>
									</div>								<div class="parts">
										x 5
									</div>
								</div>
<div class="plus_serp">+</div>

								<div class="recipe_item">
									<div class="numbering">
									<font color="#242C73">12766</font>
									</div>								<div class="parts">
										x 6
									</div>
								</div>
<div class="plus_serp">+</div>

								<div class="recipe_item">
									<div class="numbering">
									<font color="#242C73">12768</font>
									</div>								<div class="parts">
										x 6
									</div>
								</div>
						</td>
						<td><span style="color:#ff0000; font-size:15px; font-weight:bold;">제작기록 없음</span></td>
						<td><button class="makelink" rcpidx="15126"><span style="font-size:18px; color:#38543a; font-weight:bold;">5</span></button></td>
						<td><span style="font-size:18px; color:#3a41b4; font-weight:bold;">0</span></td>
					</tr>
									<tr height="30" align="center">
						<td style="background-color:#ff4444; color:#fff; font-size:16px; font-weight:bold;">15127</td>
						<td style="text-align:left; padding:5px 15px 5px 15px;">

								<div class="recipe_item">
									<div class="numbering">
									<font color="#3333FF">06769</font>
									</div>								<div class="parts">
										x 6
									</div>
								</div>
<div class="plus_serp">+</div>

								<div class="recipe_item">
									<div class="numbering">
									<font color="#3333FF">06772</font>
									</div>								<div class="parts">
										x 3
									</div>
								</div>
<div class="plus_serp">+</div>

								<div class="recipe_item">
									<div class="numbering">
									<font color="#3F38B8">09864</font>
									</div>								<div class="parts">
										x 3
									</div>
								</div>
<div class="plus_serp">+</div>

								<div class="recipe_item">
									<div class="numbering">
									<font color="#3F38B8">09768</font>
									</div>								<div class="parts">
										x 3
									</div>
								</div>
<div class="plus_serp">+</div>

								<div class="recipe_item">
									<div class="numbering">
									<font color="#3F38B8">09692</font>
									</div>								<div class="parts">
										x 6
									</div>
								</div>
<div class="plus_serp">+</div>

								<div class="recipe_item">
									<div class="numbering">
									<font color="#B568B5">15856</font>
									</div>								<div class="parts">
										x 4
									</div>
								</div>
						</td>
						<td><span style="color:#ff0000; font-size:15px; font-weight:bold;">제작기록 없음</span></td>
						<td><button class="makelink" rcpidx="15127"><span style="font-size:18px; color:#38543a; font-weight:bold;">3</span></button></td>
						<td><span style="font-size:18px; color:#3a41b4; font-weight:bold;">0</span></td>
					</tr>
									<tr height="30" align="center">
						<td style="background-color:#ff4444; color:#fff; font-size:16px; font-weight:bold;">15128</td>
						<td style="text-align:left; padding:5px 15px 5px 15px;">

								<div class="recipe_item">
									<div class="numbering">
									<font color="#3333FF">06769</font>
									</div>								<div class="parts">
										x 1
									</div>
								</div>
<div class="plus_serp">+</div>

								<div class="recipe_item">
									<div class="numbering">
									<font color="#3333FF">06773</font>
									</div>								<div class="parts">
										x 5
									</div>
								</div>
<div class="plus_serp">+</div>

								<div class="recipe_item">
									<div class="numbering">
									<font color="#3F38B8">09864</font>
									</div>								<div class="parts">
										x 8
									</div>
								</div>
<div class="plus_serp">+</div>

								<div class="recipe_item">
									<div class="numbering">
									<font color="#3F38B8">09769</font>
									</div>								<div class="parts">
										x 4
									</div>
								</div>
<div class="plus_serp">+</div>

								<div class="recipe_item">
									<div class="numbering">
									<font color="#3F38B8">09692</font>
									</div>								<div class="parts">
										x 3
									</div>
								</div>
<div class="plus_serp">+</div>

								<div class="recipe_item">
									<div class="numbering">
									<font color="#B568B5">15857</font>
									</div>								<div class="parts">
										x 8
									</div>
								</div>
						</td>
						<td><span style="color:#ff0000; font-size:15px; font-weight:bold;">제작기록 없음</span></td>
						<td><button class="makelink" rcpidx="15128"><span style="font-size:18px; color:#38543a; font-weight:bold;">1</span></button></td>
						<td><span style="font-size:18px; color:#3a41b4; font-weight:bold;">0</span></td>
					</tr>
									<tr height="30" align="center">
						<td style="background-color:#ff4444; color:#fff; font-size:16px; font-weight:bold;">15129</td>
						<td style="text-align:left; padding:5px 15px 5px 15px;">

								<div class="recipe_item">
									<div class="numbering">
									<font color="#3333FF">06769</font>
									</div>								<div class="parts">
										x 7
									</div>
								</div>
<div class="plus_serp">+</div>

								<div class="recipe_item">
									<div class="numbering">
									<font color="#3333FF">06774</font>
									</div>								<div class="parts">
										x 4
									</div>
								</div>
<div class="plus_serp">+</div>

								<div class="recipe_item">
									<div class="numbering">
									<font color="#3F38B8">09864</font>
									</div>								<div class="parts">
										x 1
									</div>
								</div>
<div class="plus_serp">+</div>

								<div class="recipe_item">
									<div class="numbering">
									<font color="#3F38B8">09771</font>
									</div>								<div class="parts">
										x 7
									</div>
								</div>
<div class="plus_serp">+</div>

								<div class="recipe_item">
									<div class="numbering">
									<font color="#3F38B8">09692</font>
									</div>								<div class="parts">
										x 4
									</div>
								</div>
<div class="plus_serp">+</div>

								<div class="recipe_item">
									<div class="numbering">
									<font color="#B568B5">15858</font>
									</div>								<div class="parts">
										x 3
									</div>
								</div>
						</td>
						<td><span style="color:#ff0000; font-size:15px; font-weight:bold;">제작기록 없음</span></td>
						<td><button class="makelink" rcpidx="15129"><span style="font-size:18px; color:#38543a; font-weight:bold;">1</span></button></td>
						<td><span style="font-size:18px; color:#3a41b4; font-weight:bold;">0</span></td>
					</tr>
									<tr height="30" align="center">
						<td style="background-color:#ff4444; color:#fff; font-size:16px; font-weight:bold;">15130</td>
						<td style="text-align:left; padding:5px 15px 5px 15px;">

								<div class="recipe_item">
									<div class="numbering">
									<font color="#3333FF">06769</font>
									</div>								<div class="parts">
										x 1
									</div>
								</div>
<div class="plus_serp">+</div>

								<div class="recipe_item">
									<div class="numbering">
									<font color="#3333FF">06775</font>
									</div>								<div class="parts">
										x 3
									</div>
								</div>
<div class="plus_serp">+</div>

								<div class="recipe_item">
									<div class="numbering">
									<font color="#3F38B8">09864</font>
									</div>								<div class="parts">
										x 11
									</div>
								</div>
<div class="plus_serp">+</div>

								<div class="recipe_item">
									<div class="numbering">
									<font color="#3F38B8">09770</font>
									</div>								<div class="parts">
										x 5
									</div>
								</div>
<div class="plus_serp">+</div>

								<div class="recipe_item">
									<div class="numbering">
									<font color="#3F38B8">09692</font>
									</div>								<div class="parts">
										x 3
									</div>
								</div>
<div class="plus_serp">+</div>

								<div class="recipe_item">
									<div class="numbering">
									<font color="#B568B5">15859</font>
									</div>								<div class="parts">
										x 5
									</div>
								</div>
						</td>
						<td><span style="color:#ff0000; font-size:15px; font-weight:bold;">제작기록 없음</span></td>
						<td><button class="makelink" rcpidx="15130"><span style="font-size:18px; color:#38543a; font-weight:bold;">1</span></button></td>
						<td><span style="font-size:18px; color:#3a41b4; font-weight:bold;">0</span></td>
					</tr>
								</tbody></table>
