<!DOCTYPE html>
<html>
  <head>
    <%- include ('head') %>
    <title><%= title%></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style media="screen">
      table {
        border: 1px   solid #444444;
        border-collapse: collapse;
        margin-left: auto;
        margin-right: auto;

      }
      th, td{
        border: 1px solid #444444;
        border-collapse: collapse;
      }
      td{
        font-size: 18px;
      }
    </style>
    <script  src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <script type="text/javascript">
      $.ajax({
        url: '/test/ing',
        type: 'GET',
        success: function() {
          var stat1 = '<td colspan="3" >' + '냠냠'+ '</td>';
          var socket1 = '<td style="font-size:30px">'+ '쩝쩝' + '</td>';
          var custom1  ='<td colspan="2">' +  '냠냠' +'</td>' + '<td colspan="2">' +  '쩝쩝' + '</td>';
          $('#Stat').html(stat1);
        }
      });

    </script>
  </head>
  <body style="">
    <h1><%= title %></h1>
    <table id="" style="width:60%;">
      <thead>
        <colgroup>
          <col span="" id ="" style=" ">
          <col span="" id ="" style=" ">
          <col span="" id ="" style=" ">
          <col span="" id ="" style=" ">
        </colgroup>
      </thead>


      <tbody>
        <tr style="text-align:center">
          <td colspan="" value="" name="wpname" id="wpname"style="width:40%"></td>
        </tr>
        <tr style="text-align:center">
          <td value="socket"  name="wpsocket" id="Socket" style=""></td>
          <td colspan="3" value=""  name="wpstats" id="Stat"></td>
        </tr>
        <tr>
          <td colspan="4" name="wpfeat"></td>
        </tr>
        <tr>
          <td colspan="4" value="custom"  name="wpcustom" id="Custom"></td>
        </tr>
      </tbody>
    </table>



      <p style="text-align:center">
        현재 재조립을 <span id ='trycount' > 0</span> 회 시도하였습니다.
      </p>


    <div class="" style="text-align: center">
      <form class="" id="try_btn" onclick="" action="/test/ing" method="get">
        <input type="submit" name="" style="" id="try_btn" onclick=""value=""></button>
      </form>

    </div>

  </body>
  <footer>
    <%- include ('footer')%>
  </footer>

</html>
