<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style media="screen">
    #left_sidenav {
      height: 100%;
      width: 15%;
      z-index: 1;
      overflow-x: hidden;
      position: absolute;
    }
    #left_sidenav ul{
      padding-left: 0px;
      font-size: 18px;
    }
    #left_sidenav a {
      padding: 6px 8px 6px 16px;
      text-decoration: none;
      color: black;
      display: block;
    }

    #left_sidenav a:hover {
      color: white;
      background-color: gray;
    }
    #left_sidenav li ul {
      background: ;
      display:none;  /* 평상시에는 서브메뉴가 안보이게 하기 */
      height:auto;
      padding:0px;
      margin:0px;
      border:0px;
      z-index:200;
      font-size: 12px;
    }
    #left_sidenav li:hover ul {
      font-size: 14px;
      padding-left: 10px;

      display:block;   /* 마우스 커서 올리면 서브메뉴 보이게 하기 */
    }
    </style>
  </head>
  <body style="margin:20px 50px 20px 50px">
    <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%" id="left_sidenav">
      <ul>
        <h3 class="w3-bar-item">강적</h3>
          <% list1.forEach(function(item){ %>
            <li>
              <a href="#" class="w3-bar-item w3-button"> <%- item.rival_name %></a>
            </li>
          <% }) %>

        <h3 class="w3-bar-item">희귀 강적</h3>
          <% list2.forEach(function(item){ %>
            <li>
              <a href="#" class="w3-bar-item w3-button"> <%- item.rival_name %></a>
            </li>
            <% }) %>


          <h3 class="w3-bar-item">대강적 강적</h3>
          <% list3.forEach(function(item){ %>
            <li>
              <a href="#" class="w3-bar-item w3-button"> <%- item.rival_name %></a>
            </li>
            <% }) %>

      </ul>
    </div>





    <div style="margin-left:25%">

    </div>

  </body>
</html>
