<html>
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <select name="hero" multiple>
            <optgroup label="마블코믹스">
                <option value="ironman">아이언맨</option>
                <option value="deadpool">데드풀</option>
                <option value="spiderman">스파이더맨</option>
            </optgroup>
            <optgroup label="디씨코믹스">
                <option value="batman">베트맨</option>
                <option value="joker">조커</option>
                <option value="wonderwoman">원더우먼</option>
            </optgroup>
        </select>
        <input type=text list=browsers>
        <datalist id=browsers>
             <option value="Firefox">
             <option value="InternetExplorer">
             <option value="Chrome">
             <option value="Opera">
             <option value="Safari">
        </datalist>
    </body>
</html>
